<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Git Push</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>Git Push</h1>
        <p>
            <a class="btn btn-lg btn-secondary" href="/push/new">Git Push 실행</a>
            <a class="btn btn-lg btn-secondary" href="/pushlist">Git Push 이력 조회</a>
        </p>
        <p>
            <a class="btn btn-lg btn-dark" href="/push/search">Git Repository 변경</a>
            <a class="btn btn-lg btn-dark" href="/items">COBOL TO Java Code 변환</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>