.COTRN01_COTRN1A {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 4px;
    overflow: hidden;

    ._field863 {
        position: absolute;
        top: 1.5rem;
        left: 1.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TRNNAME {
        position: absolute;
        top: 1.5rem;
        left: 7.0rem;
        width: 14.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TITLE01 {
        position: absolute;
        top: 1.5rem;
        left: 21.0rem;
        width: 44.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: yellow;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field866 {
        position: absolute;
        top: 1.5rem;
        left: 65.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .CURDATE {
        position: absolute;
        top: 1.5rem;
        left: 71.0rem;
        width: 8.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field868 {
        position: absolute;
        top: 3.0rem;
        left: 1.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .PGMNAME {
        position: absolute;
        top: 3.0rem;
        left: 7.0rem;
        width: 14.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TITLE02 {
        position: absolute;
        top: 3.0rem;
        left: 21.0rem;
        width: 44.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: yellow;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field871 {
        position: absolute;
        top: 3.0rem;
        left: 65.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .CURTIME {
        position: absolute;
        top: 3.0rem;
        left: 71.0rem;
        width: 8.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field873 {
        position: absolute;
        top: 6.0rem;
        left: 30.0rem;
        width: 16.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field874 {
        position: absolute;
        top: 9.0rem;
        left: 6.0rem;
        width: 15.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TRNIDIN {
        position: absolute;
        top: 9.0rem;
        left: 21.0rem;
        width: 17.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #81c147;
        caret-color: white;
        background: none;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        border-left: thin solid #f0f0f0;
        border-right: thin solid #f0f0f0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: LEFT;
        text-decoration: underline;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field876 {
        position: absolute;
        top: 9.0rem;
        left: 38.0rem;
        width: 0.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field877 {
        position: absolute;
        top: 12.0rem;
        left: 6.0rem;
        width: 70.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field878 {
        position: absolute;
        top: 15.0rem;
        left: 6.0rem;
        width: 16.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TRNID {
        position: absolute;
        top: 15.0rem;
        left: 22.0rem;
        width: 17.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field880 {
        position: absolute;
        top: 15.0rem;
        left: 39.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field881 {
        position: absolute;
        top: 15.0rem;
        left: 45.0rem;
        width: 13.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .CARDNUM {
        position: absolute;
        top: 15.0rem;
        left: 58.0rem;
        width: 17.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field883 {
        position: absolute;
        top: 15.0rem;
        left: 75.0rem;
        width: 0.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #81c147;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field884 {
        position: absolute;
        top: 18.0rem;
        left: 6.0rem;
        width: 9.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TTYPCD {
        position: absolute;
        top: 18.0rem;
        left: 15.0rem;
        width: 3.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field886 {
        position: absolute;
        top: 18.0rem;
        left: 18.0rem;
        width: 5.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field887 {
        position: absolute;
        top: 18.0rem;
        left: 23.0rem;
        width: 13.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TCATCD {
        position: absolute;
        top: 18.0rem;
        left: 36.0rem;
        width: 5.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field889 {
        position: absolute;
        top: 18.0rem;
        left: 41.0rem;
        width: 5.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field890 {
        position: absolute;
        top: 18.0rem;
        left: 46.0rem;
        width: 8.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TRNSRC {
        position: absolute;
        top: 18.0rem;
        left: 54.0rem;
        width: 11.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field892 {
        position: absolute;
        top: 18.0rem;
        left: 65.0rem;
        width: 0.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field893 {
        position: absolute;
        top: 21.0rem;
        left: 6.0rem;
        width: 13.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TDESC {
        position: absolute;
        top: 21.0rem;
        left: 19.0rem;
        width: 61.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field895 {
        position: absolute;
        top: 21.0rem;
        left: 80.0rem;
        width: 0.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field896 {
        position: absolute;
        top: 24.0rem;
        left: 6.0rem;
        width: 8.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TRNAMT {
        position: absolute;
        top: 24.0rem;
        left: 14.0rem;
        width: 13.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field898 {
        position: absolute;
        top: 24.0rem;
        left: 27.0rem;
        width: 4.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field899 {
        position: absolute;
        top: 24.0rem;
        left: 31.0rem;
        width: 11.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TORIGDT {
        position: absolute;
        top: 24.0rem;
        left: 42.0rem;
        width: 11.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field901 {
        position: absolute;
        top: 24.0rem;
        left: 53.0rem;
        width: 4.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field902 {
        position: absolute;
        top: 24.0rem;
        left: 57.0rem;
        width: 11.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TPROCDT {
        position: absolute;
        top: 24.0rem;
        left: 68.0rem;
        width: 11.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field904 {
        position: absolute;
        top: 24.0rem;
        left: 79.0rem;
        width: 0.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field905 {
        position: absolute;
        top: 27.0rem;
        left: 6.0rem;
        width: 13.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .MID {
        position: absolute;
        top: 27.0rem;
        left: 19.0rem;
        width: 10.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field907 {
        position: absolute;
        top: 27.0rem;
        left: 29.0rem;
        width: 4.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field908 {
        position: absolute;
        top: 27.0rem;
        left: 33.0rem;
        width: 15.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .MNAME {
        position: absolute;
        top: 27.0rem;
        left: 48.0rem;
        width: 31.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field910 {
        position: absolute;
        top: 27.0rem;
        left: 79.0rem;
        width: 0.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field911 {
        position: absolute;
        top: 30.0rem;
        left: 6.0rem;
        width: 15.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .MCITY {
        position: absolute;
        top: 30.0rem;
        left: 21.0rem;
        width: 26.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field913 {
        position: absolute;
        top: 30.0rem;
        left: 47.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field914 {
        position: absolute;
        top: 30.0rem;
        left: 53.0rem;
        width: 14.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .MZIP {
        position: absolute;
        top: 30.0rem;
        left: 67.0rem;
        width: 11.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field916 {
        position: absolute;
        top: 30.0rem;
        left: 78.0rem;
        width: 0.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .ERRMSG {
        position: absolute;
        top: 34.5rem;
        left: 1.0rem;
        width: 78.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: red;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field918 {
        position: absolute;
        top: 36.0rem;
        left: 1.0rem;
        width: 47.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: yellow;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    @keyframes blink {
        50% {
            outline: orangered auto medium;
        }
    }

}
