.COMEN01_COMEN1A {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 4px;
    overflow: hidden;

    ._field91 {
        position: absolute;
        top: 1.5rem;
        left: 1.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TRNNAME {
        position: absolute;
        top: 1.5rem;
        left: 7.0rem;
        width: 14.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TITLE01 {
        position: absolute;
        top: 1.5rem;
        left: 21.0rem;
        width: 44.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: yellow;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field94 {
        position: absolute;
        top: 1.5rem;
        left: 65.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .CURDATE {
        position: absolute;
        top: 1.5rem;
        left: 71.0rem;
        width: 8.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field96 {
        position: absolute;
        top: 3.0rem;
        left: 1.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .PGMNAME {
        position: absolute;
        top: 3.0rem;
        left: 7.0rem;
        width: 14.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TITLE02 {
        position: absolute;
        top: 3.0rem;
        left: 21.0rem;
        width: 44.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: yellow;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field99 {
        position: absolute;
        top: 3.0rem;
        left: 65.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .CURTIME {
        position: absolute;
        top: 3.0rem;
        left: 71.0rem;
        width: 8.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field101 {
        position: absolute;
        top: 6.0rem;
        left: 35.0rem;
        width: 9.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .OPTN001 {
        position: absolute;
        top: 9.0rem;
        left: 20.0rem;
        width: 40.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .OPTN002 {
        position: absolute;
        top: 10.5rem;
        left: 20.0rem;
        width: 40.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .OPTN003 {
        position: absolute;
        top: 12.0rem;
        left: 20.0rem;
        width: 40.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .OPTN004 {
        position: absolute;
        top: 13.5rem;
        left: 20.0rem;
        width: 40.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .OPTN005 {
        position: absolute;
        top: 15.0rem;
        left: 20.0rem;
        width: 40.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .OPTN006 {
        position: absolute;
        top: 16.5rem;
        left: 20.0rem;
        width: 40.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .OPTN007 {
        position: absolute;
        top: 18.0rem;
        left: 20.0rem;
        width: 40.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .OPTN008 {
        position: absolute;
        top: 19.5rem;
        left: 20.0rem;
        width: 40.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .OPTN009 {
        position: absolute;
        top: 21.0rem;
        left: 20.0rem;
        width: 40.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .OPTN010 {
        position: absolute;
        top: 22.5rem;
        left: 20.0rem;
        width: 40.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .OPTN011 {
        position: absolute;
        top: 24.0rem;
        left: 20.0rem;
        width: 40.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .OPTN012 {
        position: absolute;
        top: 25.5rem;
        left: 20.0rem;
        width: 40.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field114 {
        position: absolute;
        top: 30.0rem;
        left: 15.0rem;
        width: 26.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .OPTION {
        position: absolute;
        top: 30.0rem;
        left: 41.0rem;
        width: 3.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        border-left: thin solid #f0f0f0;
        border-right: thin solid #f0f0f0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: RIGHT;
        text-decoration: underline;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field116 {
        position: absolute;
        top: 30.0rem;
        left: 44.0rem;
        width: 0.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #81c147;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .ERRMSG {
        position: absolute;
        top: 34.5rem;
        left: 1.0rem;
        width: 78.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: red;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field118 {
        position: absolute;
        top: 36.0rem;
        left: 1.0rem;
        width: 23.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: yellow;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    @keyframes blink {
        50% {
            outline: orangered auto medium;
        }
    }

}
