<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"/>
<style>
    .fieldError {
        border-color: #bd2130;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    input[readonly]{
        background-color: #f0f0f0;
    }
</style>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
    <form role="form" action="/push/new" th:object="${PushForm}"
          method="post">
        <div class="form-group mb-3">
            <label th:for="localpath">Local Path</label>
            <input type="text" th:field="*{localpath}" name="localpath" class="form-control"
                   placeholder="localpath을 입력하세요" readonly>
        </div>
        <div class="form-group mb-3">
            <label th:for="url">Url</label>
            <input type="text" th:field="*{url}" name="url" class="form-control"
                   placeholder="url을 입력하세요" readonly>
        </div>
        <div class="form-group mb-3">
            <label th:for="username">User Name</label>
            <input type="text" th:field="*{username}" name="username" class="form-control"
                   placeholder="username을 입력하세요" readonly>
        </div>
        <div class="form-group mb-3">
            <label th:for="token">Github Token</label>
            <input type="password" th:field="*{token}" name="token" class="form-control"
                   placeholder="token을 입력하세요" readonly>
        </div>
        <div class="form-group mb-3">
            <label th:for="message">Commit message</label>
            <input type="text" th:field="*{message}" name="message" class="form-control"
                   placeholder="commit message를 입력하세요" readonly>
        </div>
        <button type="submit" class="btn btn-primary" name="action" value="Push">Push</button>
        <button type="button" class="btn btn-primary" id="authBtn" value="Authentication">Authentication</button>
    </form>
    <div id="authModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Authentication</h2>
            <p style="color:red;"></p>
            <form id="authForm">
                <div class="form-group mb-3">
                    <label for="modalUrl">Url</label>
                    <input type="text" id="modalUrl" class="form-control" placeholder="url을 입력하세요">
                </div>
                <div class="form-group mb-3">
                    <label for="modalUsername">Username</label>
                    <input type="text" id="modalUsername" class="form-control" placeholder="username을 입력하세요">
                </div>
                <div class="form-group mb-3">
                    <label for="modalToken">Github Token</label>
                    <input type="password" id="modalToken" class="form-control" placeholder="token을 입력하세요">
                </div>
                <button type="submit" class="btn btn-primary">Authenticate</button>
            </form>
        </div>
    </div>

    <div th:if="${message}" class="alert alert-info">
        <p th:text="${message}"></p>
    </div>
    <br/>
    <div th:replace="~{fragments/footer :: footer}"/>
</div> <!-- /container -->

<script>
    document.getElementById("authBtn").onclick = function () {
        document.getElementById("authModal").style.display = "block";
    }

    document.querySelector(".close").onclick = function () {
        document.getElementById("authModal").style.display = "none";
    }

    document.getElementById("authForm").onsubmit = function (event) {
        event.preventDefault();

        let modalUrl = document.getElementById("modalUrl").value;
        let modalUsername = document.getElementById("modalUsername").value;
        let modalToken = document.getElementById("modalToken").value;

        let errorMessage = document.querySelector("#authModal p");

        if (!modalUrl){
            errorMessage.textContent = "Git URL을 입력하세요";
            errorMessage.style.color = "red";
            return;
        }

        if (!modalUsername){
            errorMessage.textContent = "Git Username을 입력하세요.";
            errorMessage.style.color = "red";
            return;
        }

        if (!modalToken){
            errorMessage.textContent = "Github Token을 입력하세요";
            errorMessage.style.color = "red";
            return;
        }

        fetch("/push/check-repository", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                url: modalUrl,
                username: modalUsername,
                token: modalToken
            })
        })
            .then(response => {
                if(!response.ok){
                    throw new Error("HTTP error " + response.status);
                }
                return response.json();
            })

            .then(data => {
                if (data.status === "success") {
                    alert(data.message);
                    document.getElementById("authModal").style.display = "none";
                    errorMessage.textContent = "";

                    document.querySelector("input[name='url']").value = modalUrl;
                    document.querySelector("input[name='username']").value = modalUsername;
                    document.querySelector("input[name='token']").value = modalToken;

                    document.querySelector("input[name='localpath']").readOnly = false;
                    document.querySelector("input[name='localpath']").style.backgroundColor = "";
                    document.querySelector("input[name='message']").readOnly = false;
                    document.querySelector("input[name='message']").style.backgroundColor = "";

                    document.getElementById("modalUrl").value = "";
                    document.getElementById("modalUsername").value = "";
                    document.getElementById("modalToken").value = "";

                } else {
                    errorMessage.textContent = data.message;
                    errorMessage.style.color = "red";
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
    }
</script>

</body>
</html>
```