<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
    <form role="form" action="/push/search" th:object="${SearchForm}"
          method="post">
        <div class="form-group mb-3">
            <label th:for="username">Username</label>
            <input type="text" th:field="*{username}" class="form-control"
                   placeholder="username 입력하세요">
            <p th:if="${#fields.hasErrors('username')}"
               th:errors="*{username}">Incorrect username</p>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br/>
    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>
</html>
```