<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
    <form role="form" action="/push/edit" th:object="${updatePushForm}"
          method="post">
        <div class="form-group mb-3">
            <label th:for="localpath">Local Path</label>
            <input type="text" th:field="*{localpath}" class="form-control"
                   placeholder="localpath을 입력하세요">
        </div>
        <div class="form-group mb-3">
            <label th:for="url">Url</label>
            <input type="text" th:field="*{url}" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label th:for="username">Name</label>
            <input type="hidden" th:field="*{username}">
            <span th:text="*{username}" class="form-control"
                  style="display: block; background-color: #f4f4f4; border: 1px solid #ddd; padding: 8px;" readonly="">
            </span>
        </div>
        <div class="form-group mb-3">
            <label th:for="token">Github Token</label>
            <input type="hidden" th:field="*{token}">
            <span class="form-control" style="display: block; background-color: #f4f4f4; border: 1px solid #ddd;">
                <span th:text="${#strings.length(updatePushForm.token) > 0 ? '●●●●●●●●●●●●●●●●●●' : 'No Token'}"></span>
            </span>
        </div>
        <div class="form-group mb-3">
            <label th:for="message">Commit Message</label>
            <input type="text" th:field="*{message}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Push</button>
    </form>
    <br/>
    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>
</html>
```