.CORPT00_CORPT0A {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 4px;
    overflow: hidden;

    ._field507 {
        position: absolute;
        top: 1.5rem;
        left: 1.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TRNNAME {
        position: absolute;
        top: 1.5rem;
        left: 7.0rem;
        width: 14.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TITLE01 {
        position: absolute;
        top: 1.5rem;
        left: 21.0rem;
        width: 44.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: yellow;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field510 {
        position: absolute;
        top: 1.5rem;
        left: 65.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .CURDATE {
        position: absolute;
        top: 1.5rem;
        left: 71.0rem;
        width: 8.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field512 {
        position: absolute;
        top: 3.0rem;
        left: 1.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .PGMNAME {
        position: absolute;
        top: 3.0rem;
        left: 7.0rem;
        width: 14.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .TITLE02 {
        position: absolute;
        top: 3.0rem;
        left: 21.0rem;
        width: 44.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: yellow;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field515 {
        position: absolute;
        top: 3.0rem;
        left: 65.0rem;
        width: 6.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .CURTIME {
        position: absolute;
        top: 3.0rem;
        left: 71.0rem;
        width: 8.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field517 {
        position: absolute;
        top: 6.0rem;
        left: 30.0rem;
        width: 19.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .MONTHLY {
        position: absolute;
        top: 10.5rem;
        left: 10.0rem;
        width: 2.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #81c147;
        caret-color: white;
        background: none;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        border-left: thin solid #f0f0f0;
        border-right: thin solid #f0f0f0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: LEFT;
        text-decoration: underline;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field519 {
        position: absolute;
        top: 10.5rem;
        left: 12.0rem;
        width: 3.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field520 {
        position: absolute;
        top: 10.5rem;
        left: 15.0rem;
        width: 23.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .YEARLY {
        position: absolute;
        top: 13.5rem;
        left: 10.0rem;
        width: 2.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #81c147;
        caret-color: white;
        background: none;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        border-left: thin solid #f0f0f0;
        border-right: thin solid #f0f0f0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: LEFT;
        text-decoration: underline;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field522 {
        position: absolute;
        top: 13.5rem;
        left: 12.0rem;
        width: 3.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field523 {
        position: absolute;
        top: 13.5rem;
        left: 15.0rem;
        width: 23.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .CUSTOM {
        position: absolute;
        top: 16.5rem;
        left: 10.0rem;
        width: 2.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #81c147;
        caret-color: white;
        background: none;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        border-left: thin solid #f0f0f0;
        border-right: thin solid #f0f0f0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: LEFT;
        text-decoration: underline;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field525 {
        position: absolute;
        top: 16.5rem;
        left: 12.0rem;
        width: 3.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field526 {
        position: absolute;
        top: 16.5rem;
        left: 15.0rem;
        width: 23.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field527 {
        position: absolute;
        top: 19.5rem;
        left: 15.0rem;
        width: 14.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .SDTMM {
        position: absolute;
        top: 19.5rem;
        left: 29.0rem;
        width: 3.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #81c147;
        caret-color: white;
        background: none;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        border-left: thin solid #f0f0f0;
        border-right: thin solid #f0f0f0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: RIGHT;
        text-decoration: underline;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field529 {
        position: absolute;
        top: 19.5rem;
        left: 32.0rem;
        width: 2.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .SDTDD {
        position: absolute;
        top: 19.5rem;
        left: 34.0rem;
        width: 3.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #81c147;
        caret-color: white;
        background: none;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        border-left: thin solid #f0f0f0;
        border-right: thin solid #f0f0f0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: RIGHT;
        text-decoration: underline;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field531 {
        position: absolute;
        top: 19.5rem;
        left: 37.0rem;
        width: 2.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .SDTYYYY {
        position: absolute;
        top: 19.5rem;
        left: 39.0rem;
        width: 5.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #81c147;
        caret-color: white;
        background: none;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        border-left: thin solid #f0f0f0;
        border-right: thin solid #f0f0f0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: RIGHT;
        text-decoration: underline;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field533 {
        position: absolute;
        top: 19.5rem;
        left: 44.0rem;
        width: 2.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field534 {
        position: absolute;
        top: 19.5rem;
        left: 46.0rem;
        width: 12.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field535 {
        position: absolute;
        top: 21.0rem;
        left: 15.0rem;
        width: 14.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .EDTMM {
        position: absolute;
        top: 21.0rem;
        left: 29.0rem;
        width: 3.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #81c147;
        caret-color: white;
        background: none;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        border-left: thin solid #f0f0f0;
        border-right: thin solid #f0f0f0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: RIGHT;
        text-decoration: underline;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field537 {
        position: absolute;
        top: 21.0rem;
        left: 32.0rem;
        width: 2.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .EDTDD {
        position: absolute;
        top: 21.0rem;
        left: 34.0rem;
        width: 3.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #81c147;
        caret-color: white;
        background: none;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        border-left: thin solid #f0f0f0;
        border-right: thin solid #f0f0f0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: RIGHT;
        text-decoration: underline;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field539 {
        position: absolute;
        top: 21.0rem;
        left: 37.0rem;
        width: 2.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .EDTYYYY {
        position: absolute;
        top: 21.0rem;
        left: 39.0rem;
        width: 5.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #81c147;
        caret-color: white;
        background: none;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        border-left: thin solid #f0f0f0;
        border-right: thin solid #f0f0f0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: RIGHT;
        text-decoration: underline;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field541 {
        position: absolute;
        top: 21.0rem;
        left: 44.0rem;
        width: 2.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field542 {
        position: absolute;
        top: 21.0rem;
        left: 46.0rem;
        width: 12.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: deepskyblue;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field543 {
        position: absolute;
        top: 28.5rem;
        left: 6.0rem;
        width: 60.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: TURQUOISE;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .CONFIRM {
        position: absolute;
        top: 28.5rem;
        left: 66.0rem;
        width: 2.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #81c147;
        caret-color: white;
        background: none;
        border-top: thin solid #f0f0f0;
        border-bottom: thin solid #f0f0f0;
        border-left: thin solid #f0f0f0;
        border-right: thin solid #f0f0f0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: LEFT;
        text-decoration: underline;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field545 {
        position: absolute;
        top: 28.5rem;
        left: 68.0rem;
        width: 1.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field546 {
        position: absolute;
        top: 28.5rem;
        left: 69.0rem;
        width: 5.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: #FFFFF2;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    .ERRMSG {
        position: absolute;
        top: 34.5rem;
        left: 1.0rem;
        width: 78.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: red;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }
    ._field548 {
        position: absolute;
        top: 36.0rem;
        left: 1.0rem;
        width: 23.0rem;
        height: 1.5rem;

        font-size: 1.3rem;
        font-weight: bold;

        margin: 0.0rem;
        margin-left: 1rem;
        padding: 0.0rem;
        padding-left: 0.3rem;

        color: yellow;
        caret-color: white;
        background: none;
        border-top: thin solid transparent;
        border-bottom: thin solid transparent;
        border-left: thin solid transparent;
        border-right: thin solid transparent;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: pre;

        text-align: left;
        text-decoration: none;
        text-transform: none;
        animation: none;
        border-collapse: collapse;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    @keyframes blink {
        50% {
            outline: orangered auto medium;
        }
    }

}
